body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.2;
  font-size: 18px;
  font-family: Sans-Serif;
  color: #444;
  padding: 10px;
}

a:link {
  color: #27d;
}

a:hover {
  color: #29e;
}

a:visited {
  color: #858;
}

img {
  margin: 40px auto;
  max-width: 650px;
  padding: 10px;
}

aside {
  font-style: italic;
}

video {
  margin: 40px auto;
  max-width: 650px;
}

