body {
  font-size: 18px;
  font-family: Sans-Serif;
  color: #24243d;
  background-color: #EEE;
  line-height: 1.6;
  margin: 0px;
}

header {
  background-color: #DDD;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

p,h1,h2,h3,h4,h5,img,aside,video {
  max-width: 680px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  max-width: 660px;
  margin: 0px auto;
}

h1,h2,h3,h4,h5 {
  text-align: center;
  line-height: 1.2;
}

h1 {
  font-size: 2.0em;
  padding-top: 30px;
}

h2 {
  font-size: 1.625em;
  padding-top: 30px;
}

h3 {
  font-size: 1.333em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.0em;
  font-weight: normal;
}

a {
  color: #28a;
}

a:visited {
  color: #858;
}

img {
  display: block;
}

video {
  display: block;
}

aside {
  font-style: italic;
  text-align: center;
}

.row {
  max-width: 680px;
  margin: 0px auto;
  display: flex;
}

.column {
  white-space: nowrap;
  text-align: center;
}
