html {
  font-size: 18px;
  font-family: Sans-Serif;
  color: #444;
  width: 640px;
  margin: 0 auto;
}
  
body {
  line-height: 1.4;
}

h1 {
  font-size: 2.0em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
  line-height: 1.0;
}

h3 {
  font-size: 1.25em;
  line-height: 1.0;
}

a:link {
  color: #27d;
}

a:hover {
  color: #29e;
}

a:visited {
  color: #858;
}

img {
  padding: 5px;
  display: block;
}

aside {
  font-style: italic;
}

